.logoutButton {
  font-size: 0.8rem;
  color: #000;
  background-color: hsl(133, 100%, 77%);
  border-radius: 25px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.logoutButton:hover {
  background-color: hsl(132, 100%, 86%);
  }

.logoutButton:focus {
  background-color: hsl(132, 100%, 86%);
  outline: 5px solid hsl(25, 100%, 50%);
  }

  @media (min-width: 350px){
    .logoutButton {
      font-size: 1rem;
    }
  }

@media (min-width: 600px){
  .logoutButton {
    font-size: 1.6rem;
    padding: 12px 15px;
  }
}

@media (min-width: 1000px){
  .logoutButton {
    font-size: 1.6rem;
    padding: 17px 35px;
  }
}