.eventList {
  text-align: center;
  list-style: none;
  padding: 0px;
  padding-block-end: 20px;
}

.eventDisplayTitle {
  padding-block-start: 50px;
}

.eventItems>h3,
.eventItems>p {
  text-align: center;
}

.eventButtons {
  padding-block-start: 10px;
  padding-block-end: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}


.copyLink {
  cursor: pointer;
  color:hsl(166, 100%, 23%);
  padding: 5px;
  text-decoration: underline;
  border-radius: 25px;
}

.copyLink:hover {
  background-color: hsl(132, 100%, 86%);
  }

  .copyLink:focus {
  background-color: hsl(132, 100%, 86%);
  outline: 5px solid hsl(25, 100%, 50%);
  }

@media (min-width: 600px) {
  .eventList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
  }
  /* .codeContainer {
    flex-direction: row;
    gap: 5px;
  } */
}

@media (min-width: 1000px) {
  .eventDisplayTitle {
    padding-block-end: 50px;
  }
  .eventList {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px
  }
  .eventItems {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .eventDisplayTitle {
    padding-block-start: 70px;
    padding-block-end: 70px;
  }
  .eventList {
    gap: 60px
  }
}