.dyslexicButton {
  background-color: hsl(166, 100%, 23%);
  border: 1px solid white;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 25px;
  padding: 10px 10px;
  margin-inline-start: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.dyslexicButton:hover {
  background-color: hsl(166, 100%, 15%);
  }

.dyslexicButton:focus {
  background-color: hsl(166, 100%, 15%);
  outline: 5px solid hsl(25, 100%, 50%);
  }

@media (min-width: 350px){
  .dyslexicButton {
    font-size: 1rem;
  }
}

@media (min-width: 600px){
  .dyslexicButton {
  font-size: 1.6rem;
  padding: 12px 15px;
}
}

@media (min-width: 1000px){
  .dyslexicButton {
  font-size: 1.6rem;
  padding: 17px 35px;
  border: 2px solid white;
  margin-inline-start: 15px;
}
}